.git
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
bin/
lib/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.env
.pytest_cache/
.coverage
htmlcov/
storage/*
!storage/.gitkeep
exports/*
!exports/.gitkeep
third_party/*
